form {
  width: 80%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.d-none  {
  display: none;
}

.error-found {
  padding: 10px;
  background: rgb(236, 86, 86);
  color: white;
}

.custom-form {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
}

.form-group label {
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
}

.form-group input[type=text], input[type=submit]  {
  padding: 10px;
  border-radius: 5px;
  border: .5px solid rgba(138, 138, 138, 0.39);
  background-color: white;
}
.form-group input[type=text]:hover, input[type=submit]:hover  {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
}
.form-group input[type=file] {
  padding: 10px;
  background-color: white;
}
.form-group input[type=submit] {
  font-size: 18px;
}

.container-alert {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.alert {
  padding: 20px 60px;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.alert-success {
  background: rgb(55, 243, 55);
}

.alert-danger {
  background: hsl(2, 86%, 60%);
}

@font-face {
  font-family: cursiveFont;
  src: url('../../public/assets/fonts/BelleAllure-20-06-20/BelleAllureGS-Fin.otf');
}
@font-face {
  font-family: scriptFont;
  src: url('../../public/assets/fonts/BelleAllure-20-06-20/BelleAllureScript3i-Gros.otf');
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

table tr td {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  text-align: center;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: -111;
  top: 0;
}
ul li {
  height: 10px;
  list-style: none;
  font-size: 1em;
  font-family: scriptFont, Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  width: 70px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

#tableContainer,
#tableContainerDifficile,
#tableContainerMoyen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-none {
  display: none;
}

.accueil-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  text-decoration: none;
}

.container-custom {
  padding-top: 120px;
}

.exo-choose {
  display: flex;
  gap: 20px;
}
.exo-content {
  display: flex;
  align-items: center;

  gap: 40px;
}

.exo-content img {
  margin-right: 10px;
  max-width: 200px;
  height: auto;
}

.letter-drag {
  padding: 15px 20px;
  margin: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0px 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.letter-drag span {
  align-self: center;
}

.letter-drag:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
      0px 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.blank-cell-script {
  font-size: 1em;
  font-family: scriptFont, Arial, Helvetica, sans-serif;
  text-transform: lowercase;
}

#paginationContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

#paginationContainer button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 10px;
  cursor: pointer;
}

#paginationContainer button:hover {
  background-color: #45a049; /* Green background on hover */
}

#paginationContainer button.active {
  background-color: #008cba; /* Blue background */
}
.cl-red {
  background-color: rgb(245, 57, 57);
}

.cl-green {
  background-color: #4caf50;
}

.facile {
  color: red;
}
.difficile {
  color: blue;
}

._blank_difficile {
  font-family: cursiveFont, Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 50px;
}

._blank_facile {
  text-transform: uppercase;
}

.title-exo-choose {
  color: #ffffff;
  text-align: center;
  font-family: cursiveFont;
}

.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}
@media only screen and (max-width: 1720px) {
  .exo-choose img {
      max-width: 280px;
  }

  .container-custom {
      padding-top: 80px;
  }
  .exo-content img {
      max-width: 139px;
  }
  table tr td {
      width: 64px;
      height: 75px;
  }
}

@media only screen and (max-width: 1200px) {
  .letter-drag {
      padding: 4px 4px;
  }
  .exo-choose {
      justify-content: center;
  }
}

@media only screen and (max-width: 930px) {
  .letter-drag {
      padding: 1px 0px;
  }
  .exo-choose {
      justify-content: center;
  }

  .title-exo-choose {
      font-size: 40px;
  }

  #paginationContainer {
      bottom: 4px;
  }
  .exo-choose img {
      max-width: 210px;
  }

}

@media only screen and (max-width: 680px) {
  .letter-drag span {
      font-size: 20px;
  }

  .exo-content {
      gap: 0;
  }

  table tr td {
      width: 54px;
      height: 64px;
      font-size: 20px;
  }

  .exo-choose {
      justify-content: center;
      flex-direction: column;
      gap: 0px;
  }

  table { 
      font-size: 20px;
  }
  .exo-content img {
      max-width: 97px;
  }
  .title-exo-choose {
      font-size: 25px;
  }
}

@media only screen and (max-width: 470px) {

  .title-exo-choose {
      font-size: 25px;
  }
  table tr td {
      width: 50px;
      height: 50px;
      font-size: 14px;
  }
  .exo-content img {
      max-width: 80px;
  }

}
@media only screen and (max-width: 390px) {

  table tr td {
      width: 40px;
      height: 40px;
      font-size: 10px;
  }
  .exo-content img {
      max-width: 50px;
  }
  .letter-drag span {
      font-size: 15px;
  }

  .letter-drag {
      padding: 9px 9px;
  }
  .container-custom {
      padding-top: 30px;
  }
  .accueil-btn {
      top: 768px;
  }
  table { 
      font-size: 10px;
  }
  .title-exo-choose {
      font-size: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .exo-choose img {
      max-width: 160px;
  }
}
@keyframes shake {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
      transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
      transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
      transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
      transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
      transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
      transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
      transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
      transform: translate(1px, -2px) rotate(-1deg);
  }
}
